@model IEnumerable<ProductListViewModel>

@{
    ViewData["Title"] = "Cart";
}


@if (!Model.Any())
{
    <h2 class="text-center">No Products in Cart.</h2>
}

@if (Model.Any())
{
    <form>
        <div class="form-group">
            <ul class="list-group list-group-flush">
                @foreach (var product in Model)
                {
                    <partial name="_ListCartViewPartial" model="product" />
                }
            </ul>
            <a class="btn btn-outline-primary"
               asp-controller="Orders"
               asp-action="Order"
               type="submit">Order</a>
        </div>

        
    </form>
}
